* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    place-items: center center;
}

#chat-container {
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 71px 1fr 78px;
    grid-template-areas:
        'search-container chat-title'
        'conversation-list chat-message-list'
        'new-conversation-container chat-form';
    min-width: 800px;
    max-width: 1000px;
    min-height: 500px;
    max-height: 800px;
    height: 95vh;
    width: 100%;
    background: #FFF;
    border-radius: 10px;
}

#search-container,
#conversation-list,
#new-conversation-container {
    background: #0048AA;
}

#search-container {
    display: grid;
    padding: 0 20px;
    place-items: center center;
    grid-area: search-container;
    border-radius: 10px 0 0 0;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

#search-container input {
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    border: 0;
    padding-left: 48px;
    padding-right: 20px;
    font-size: 1.4rem;
    background: url('../images/search/search.svg') no-repeat rgba(255, 255, 255, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

#search-container input::placeholder {
    color: #ddd;
    font-weight: bold;
}

#conversation-list {
    grid-area: conversation-list;
    overflow-y: scroll;
}

.conversation {
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 10px;
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002C88;
    padding: 20px 20px 20px 15px;
}

.conversation:hover,
.conversation.active {
    background: #002C88;
}

.conversation > img {
    grid-row: span 2;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.title-text {
    padding-left: 5px;
    color: #eee;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.created-date {
    font-size: 1rem;
}

.conversation-message {
    padding-left: 5px;
    grid-column: span 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#new-conversation-container {
    display: grid;
    grid-template-columns: 40px;
    grid-template-rows: 40px;
    align-content: center;
    padding: 0 15px;
    grid-area: new-conversation-container;
    border-radius: 0 0 0 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

#new-conversation-container a {
    display: grid;
    place-items: center center;
    background: #eee;
    border-radius: 100%;
    color: #002C88;
    font-size: 3.6rem;
    text-decoration: none;
}

#chat-title,
#chat-form {
    background: #eee;
}

#chat-title {
    display: grid;
    grid-template-columns: 1fr 36px;
    grid-template-rows: 36px;
    align-content: center;
    align-items: center;
    grid-area: chat-title;
    border-radius: 0 10px 0 0;
    padding: 0 20px;
    font-weight: bold;
    font-size: 2.0rem;
    color: #0048AA;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
}

#chat-message-list {
    grid-area: chat-message-list;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    overflow-y: scroll;
}

.message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}

.message-content {
    display: grid;
    justify-items: start;
    grid-row-gap: 5px;
}

.other-message .message-content {
    grid-template-columns: 48px 1fr;
    grid-column-gap: 15px;
}

.message-row img {
    grid-row: span 2;
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.message-row .message-text {
    padding: 9px 14px;
    font-size: 1.6rem;
}

.you-message {
    justify-content: end;
}

.you-message .message-content {
    justify-items: end;
}

.you-message .message-text {
    background: #0048AA;
    border: 1px solid #0048AA;
    color: #eee;
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
    background: #eee;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}

.message-time {
    font-size: 1.3rem;
    color: #777;
}

#chat-form {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-template-rows: 51px;
    grid-column-gap: 15px;
    align-content: center;
    align-items: center;
    padding-left: 42px;
    padding-right: 22px;
    grid-area: chat-form;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

#chat-form input {
    padding: 15px;
    font-size: 1.4rem;
    border-radius: 6px;
    border: 2px solid #ddd;
    color: #330;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}